<div class="departmentContainer">    
     <div class="jumbotron">
        <div class="container">
            <h2>Department Page</h2>
        </div>
    </div> 
    <div class="row tableHeader">
        <div class="col-sm-3">Id</div>
        <div class="col-sm-3">Name</div>
        <div class="col-sm-3">Address</div>
        <div class="col-sm-3">Contact</div>
    </div>
    <div class="row">
        <div class="col-sm-3">1</div>
        <div class="col-sm-3">One</div>
        <div class="col-sm-3">Address1</div>
        <div class="col-sm-3">Contact1</div>
    </div>
    <div class="row">
        <div class="col-sm-3">2</div>
        <div class="col-sm-3">Two</div>
        <div class="col-sm-3">Address2</div>
        <div class="col-sm-3">Contact2</div>
    </div>
    <div class="row">
        <div class="col-sm-3">3</div>
        <div class="col-sm-3">three</div>
        <div class="col-sm-3">Address3</div>
        <div class="col-sm-3">Contact3</div>
    </div>
    <div class="row">
        <div class="col-sm-3">4</div>
        <div class="col-sm-3">four</div>
        <div class="col-sm-3">Address4</div>
        <div class="col-sm-3">Contact4</div>
    </div>
<hr>
    <button type="button" class="btn btn-info">New Department</button>
    <button type="button" class="btn btn-info">Devices</button>

</div>